<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">


    <title>FETCH</title>
</head>

<body>

    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h2>Listado de Twets</h2>
                <div class="my-3">
                    <table class="table" id="lista-twets" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>USER_NAME</th>
                                <th>DATE</th>
                                <th>CONTENT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1410025268002099202</td>
                                <td>raqueldlcrz</td>
                                <td>2021-06-29 23:59:55+00:00</td>
                                <td>no os confundais mi foto es por la eurocopa</td>
                            </tr>
                            <tr>
                                <td>1410025053677309956</td>
                                <td>shadowtw_</td>
                                <td>2021-06-29 23:59:04+00:00</td>
                                <td>Ya hemos visto el último partido en una Eurocopa de estrellas como Modric,
                                    Lewandowski, Neuer, Muller, Cristiano o Bale. Quiero pegarme un tiro.</td>
                            </tr>
                            <tr>
                                <td>1410025045326454789</td>
                                <td>GrardoTello</td>
                                <td>2021-06-29 23:58:11+00:00</td>
                                <td>Grupo F de Eurocopa, ya puedes relajarte</td>
                            </tr>
                            <tr>
                                <td>1410024830548819972</td>
                                <td>Logan_n16</td>
                                <td>2021-06-29 23:58:11+00:00</td>
                                <td>Doy mi palabra que si España gana la Eurocopa le pido salir a la niña que no para de
                                    dar vueltas en mi cabeza.</td>
                            </tr>
                            <tr>
                                <td>1410024827201667073</td>
                                <td>HebertSalas12</td>
                                <td>2021-06-29 23:58:10+00:00</td>
                                <td>Quién dijo que el Suecia-Ucrania sería aburrido? Esta Eurocopa ha sido la mejor y
                                    por mucho; no hay nada escrito hasta el último minuto #EURO2020</td>
                            </tr>
                            <tr>
                                <td>1410024325227417601</td>
                                <td>sooycallou</td>
                                <td>2021-06-29 23:56:10+00:00</td>
                                <td>Q coraje me da que quiero dejar de seguir a una persona y tengo el dedo flácido y
                                    dejo de seguir a todo el mundo menos a esa persona🤡🤡🤡🤡</td>
                            </tr>
                            <tr>
                                <td>1410024202309181446</td>
                                <td>LucianoPerea</td>
                                <td>2021-06-29 23:55:41+00:00</td>
                                <td>Que me importa la eurocopa Poneme el partido de Belgrano iaaa</td>
                            </tr>
                            <tr>
                                <td>1410024188702756866</td>
                                <td>cesargt8</td>
                                <td>2021-06-29 23:55:38+00:00</td>
                                <td>Eurocopa (cuartos de final) 2/07 Suiza-España viernes 11:00am Italia-Belgica 14:00
                                    pm hora centro Mx Sabado 3 de julio Dinamarca-Checoslovaquia 11:00am
                                    Ucrania-Inglaterra 14:00pm Las semifinales 6 y 7 de julio.</td>
                            </tr>
                            <tr>
                                <td>1410023649910853633</td>
                                <td>araezdavid10</td>
                                <td>2021-06-29 23:53:29+00:00</td>
                                <td>Revienta el Grupo de la Muerte: fuera Portugal, fuera Francia y fuera Alemania
                                    🔥🔥🔥🔥🔥 #Eurocopa</td>
                            </tr>
                            <tr>
                                <td>1410023422076334081</td>
                                <td>NGoldstejn</td>
                                <td>2021-06-29 23:52:35+00:00</td>
                                <td>¿Por qué a la Copa América le pusieron 2021 y a la Eurocopa 2020? Ambos torneos se
                                    postergaron por la pandemia y cada federación le puso el año de distinta manera.
                                    ¿Cuál sería la forma correcta? A mi entender, 2021.</td>
                            </tr>
                            <tr>
                                <td>1410023371459502086</td>
                                <td>fut_slimane</td>
                                <td>2021-06-29 23:52:23+00:00</td>
                                <td>#seleccionespanola Esta claro que esta es la oportunidad de la @SeFutbol de ganar la
                                    eurocopa con todas las selecciones principalmente favoritas eliminadas. Es ahora o
                                    nunca, VAMOS ESPAÑA JODER🇪🇸</td>
                            </tr>
                            <tr>
                                <td>1410023249770127367</td>
                                <td>altatransmision</td>
                                <td>2021-06-29 23:51:54+00:00</td>
                                <td>sé arreglar conexiones eléctricas, artefactos electrónicos dañados, hago bien todas
                                    las labores básicas de la casa y siempre me anticipo oportunamente ante las crisis
                                    de diversa índole además soy entretenido soy un partido nivel francia - suiza
                                    eurocopa 2021, si me preguntai</td>
                            </tr>
                            <tr>
                                <td>1410023220728799232</td>
                                <td>ConexionWIN</td>
                                <td>2021-06-29 23:51:47+00:00</td>
                                <td>👔 ¿Cuál es tu candidato a quedarse con la Eurocopa 2020? Opina con #ConexionWIN
                                </td>
                            </tr>
                            <tr>
                                <td>1410023147030646788</td>
                                <td>Kaupra2</td>
                                <td>2021-06-29 23:51:29+00:00</td>
                                <td>Si España gana esta eurocopa me rapo al 0 i sorteo mi pc por instagram
                                    Insta-4dam.sgt</td>
                            </tr>
                            <tr>
                                <td>1410022748689158145</td>
                                <td>herni_ordonez</td>
                                <td>2021-06-29 23:49:54+00:00</td>
                                <td>Así serán los cuartos de final de la #Eurocopa 🇧🇪 Bélgica vs 🇮🇹 Italia 🇨🇭
                                    Suiza vs 🇪🇸 España 🇺🇦 Ucrania vs 🏴󠁧󠁢󠁥󠁮󠁧󠁿 Inglaterra 🇨🇿 Rep. Checa vs
                                    🇩🇰 Dinamarca ❌En octavos fueron eliminados: Portugal, Austria, Francia, Croacia,
                                    Suecia, Alemania, Países Bajos y Galés.</td>
                            </tr>
                            <tr>
                                <td>1410022727197630465</td>
                                <td>guille__sg</td>
                                <td>2021-06-29 23:49:49+00:00</td>
                                <td>cómo hay tanta gente d Murcia en tw???? wtf</td>
                            </tr>
                            <tr>
                                <td>1410022517906022400</td>
                                <td>laalegorias</td>
                                <td>2021-06-29 23:48:59+00:00</td>
                                <td>en esta eurocopa han pasado absolutamente todos los equipos que pensábamos que
                                    serían
                                    eliminados</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#lista-twets').DataTable({
                lengthMenu: [ [5, 10, -1], [5, 10, "All"] ],
            });
        });
    </script>
</body>

</html>